{% extends 'base.html.twig' %}

{% block content %}
    {% include 'components/sidebar.html.twig' %}

    <div class="content">
        {% if successMessage is not null and successMessage.type == 'edit' %}
            <div class="success-message">Abonnement {{ successMessage.item.id }} wurde erfolgreich bearbeitet.</div>
        {% endif %}
        <div class="success-message" id="success-message"></div>

        <h1>Abonnemente</h1>

        <div class="table-wrapper">
            <div class="filter-options">
                {% if newForm %}
                    {% include 'components/triggerModalButton.html.twig' with {
                        'dataTarget': 'addModal',
                        'text': 'Abonnement erstellen'
                    } %}
                {% endif %}
                <a class="btn" href="/bill/{{ newForm ? 'expired' : '' }}">{{ newForm ? 'Abgelaufene' : 'Aktive' }} Abonnemente</a>

            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(bills, 'Start Datum', 'b.date') }}</th>
                    <th>{{ knp_pagination_sortable(bills, 'Ablauf Datum', 'b.enddate') }}</th>
                    <th>{{ knp_pagination_sortable(bills, 'Name', 'c.firstname') }}</th>
                    <th>{{ knp_pagination_sortable(bills, 'Betrag', 'amount') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.date|date('d.m.Y') }}</td>
                        <td>{{ bill.enddate|date('d.m.Y') }}</td>
                        <td>{{ bill.firstname }} {{ bill.surname }}</td>
                        <td>{{ bill.name }}: {{ bill.amount }}Fr.</td>
                        <td><a href="/bill/receipt/{{ bill.id }}" target="_blank"><i class="fa fa-file-text"></i></a></td>
                        <td><a href="/bill/edit/{{ bill.id }}"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ bill.id }}" data-target="#deleteBillModal"><i class="fa fa-trash red"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(bills) }}
            </div>
        </div>
        <!-- Delete Bill Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deleteBillModal', 'title': 'Abonnement löschen', 'text': 'Wollen Sie dieses Abonnement löschen?'} %}

        {% if newForm %}
            <!-- Create Bill Modal -->
            {% include 'components/createModal.html.twig' with {'title': 'Abonnement erstellen'} %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}
