{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% if successMessage is not null and successMessage.type == 'edit' %}
            <div class="success-message">Rechnung {{ successMessage.item.id }} wurde erfolgreich bearbeitet.</div>
        {% endif %}

        <h1>Rechnungen</h1>

        <div class="table-wrapper">
            <div class="filter-options">
                <input class="form-control" id="searchField" type="search" placeholder="Suchen..." />
                {% include 'components/triggerModalButton.html.twig' with {
                    'dataTarget': 'addModal',
                    'text': 'Rechnung erstellen'
                } %}
            </div>

            <table class="table table-striped" id="searchTable">
                <thead>
                <tr>
                    <th>Start Datum</th>
                    <th>Ablauf Datum</th>
                    <th>Name</th>
                    <th>Betrag</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.date|date('d.m.Y') }}</td>
                        <td>{{ bill.enddate|date('d.m.Y') }}</td>
                        <td>{{ bill.firstname }} {{ bill.surname }}</td>
                        <td>{{ bill.name }}: {{ bill.amount }}Fr.</td>
                        <td><a href="/bill/edit/{{ bill.id }}"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ bill.id }}" data-target="#deleteBillModal"><i class="fa fa-trash red"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(bills) }}
            </div>
        </div>
        <!-- Delete Bill Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deleteBillModal', 'title': 'Rechnung löschen', 'text': 'Wollen Sie diese Rechnung löschen?'} %}

        <!-- Create Bill Modal -->
        {% include 'components/createModal.html.twig' with {'title': 'Rechnung erstellen'} %}
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}