{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Rechnungen</h1>

        <div class="table-wrapper">
            <div class="filter-options">
                <input class="form-control" id="searchField" type="search" placeholder="Suchen..." />
                {% include 'components/triggerModalButton.html.twig' with {
                    'dataTarget': 'addModal',
                    'text': 'Rechnung erstellen'
                } %}
            </div>

            <table class="table table-striped" id="searchTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Name</th>
                    <th>Betrag</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.id }}</td>
                        <td>{{ bill.date|date('d.m.Y') }}</td>
                        <td>{{ bill.firstname }} {{ bill.surname }}</td>
                        <td>{{ bill.name }}: {{ bill.amount }}Fr.</td>
                        <td><a href=""><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ bill.id }}" data-target="#deleteBillModal"><i class="fa fa-trash red"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'components/pagination.html.twig' with {
                'route': 'bill_page',
                'parameters': {},
                'page': page,
                'pages': pages
            } %}
        </div>
        <!-- Delete Bill Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deleteBillModal', 'title': 'Rechnung löschen', 'text': 'Wollen Sie diese Rechnung löschen?'} %}

        <!-- Create Bill Modal -->
        {% include 'components/createModal.html.twig' with {'title': 'Rechnung erstellen'} %}
    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}