{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% if successMessage is not null and successMessage.type == 'edit' %}
            <div class="success-message">Kunde {{ successMessage.item.firstname }} {{ successMessage.item.surname }} wurde erfolgreich bearbeitet.</div>
        {% endif %}

        <h1>Kunden Liste</h1>

        <div class="filter-options">
            {% include 'components/triggerModalButton.html.twig' with {
                'dataTarget': 'addModal',
                'text': 'Kunde hinzufügen'
            } %}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(customers, 'Vorname', 'c.firstname') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Nachname', 'c.surname') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Geburtstag', 'c.birthday') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Email', 'c.email') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Telefon Privat', 'c.telprivat') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Telefon Mobile', 'c.telmobile') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Strasse', 'c.street') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Ort', 'c.city') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'PLZ', 'c.plz') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Eintrittsdatum', 'c.startdate') }}</th>
                <th>{{ knp_pagination_sortable(customers, 'Austrittsdatum', 'c.enddate') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.surname }}</td>
                    <td>{{ customer.birthday|date('d.m.Y') }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.telPrivat }}</td>
                    <td>{{ customer.telMobile }}</td>
                    <td>{{ customer.street }} {{ customer.streetNr }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.plz }}</td>
                    <td>{{ customer.startDate|date('d.m.Y') }}</td>
                    {% if customer.endDate is not null %}
                        <td>{{ customer.endDate|date('d.m.Y') }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="public/customers/edit/{{ customer.id }}" ><i class="fa fa-pencil"></i></a></td>
                    <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ customer.id }}" data-target="#deleteCustomerModal"><i class="fa fa-trash red"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(customers) }}
        </div>

        <!-- Delete Customer Modal -->
        {% include 'components/deleteModal.html.twig' with {
            'id': 'deleteCustomerModal',
            'title': 'Kunde entfernen',
            'text': 'Wollen Sie den Kunden entfernen?'
        } %}

        <!-- Create Customer Modal -->
        {% include 'components/createCustomerModal.html.twig' with {
            'title': 'Kunde hinzufügen'
        } %}

    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}