{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Kunden Liste</h1>
        <input class="form-control" id="searchField" type="search" placeholder="Suchen..." />

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button class="btn btn-default"><i class="fa fa-chevron-left"></i> Zurück</button>
                <button class="btn btn-primary">1</button>
                <button class="btn btn-default">2</button>
                <button class="btn btn-default">3</button>
                <button class="btn btn-default">Nächste <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <table class="table table-striped" id="searchTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Geschlecht</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Telefon Privat</th>
                <th>Telefon Mobile</th>
                <th>Strasse</th>
                <th>Ort</th>
                <th>PLZ</th>
                <th>Start Datum</th>
                <th>End Datum</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.surname }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.telPrivat }}</td>
                    <td>{{ customer.telMobile }}</td>
                    <td>{{ customer.street }} {{ customer.streetNr }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.plz }}</td>
                    <td>{{ customer.startDate|date('d-m-Y') }}</td>
                    <td>{{ customer.endDate|date('d-m-Y') }}</td>
                    <td><a href="" class="editLink" data-toggle="modal" data-id="{{ customer.id }}" data-target="#editCustomerModal"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ customer.id }}" data-target="#deleteCustomerModal"><i class="fa fa-trash red"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button class="btn btn-default"><i class="fa fa-chevron-left"></i> Zurück</button>
                <button class="btn btn-primary">1</button>
                <button class="btn btn-default">2</button>
                <button class="btn btn-default">3</button>
                <button class="btn btn-default">Nächste <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>

        <!-- Delete Customer Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deleteCustomerModal', 'title': 'Kunde entfernen', 'text': 'Wollen Sie den Kunden entfernen?'} %}

        <!-- Create Customer Modal -->
        {% include 'components/createModal.html.twig' with {'title': 'Kunde hinzufügen'} %}

    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}