{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Kunden Liste</h1>

        <div class="filter-options">
            <input class="form-control" id="searchField" type="search" placeholder="Suchen..." />
            {% include 'components/triggerModalButton.html.twig' with {
                'dataTarget': 'addModal',
                'text': 'Kunde hinzufügen'
            } %}
        </div>

        <table class="table table-striped" id="searchTable">
            <thead>
            <tr>
                <th>Geschlecht</th>
                <th>{{ knp_pagination_sortable(customers, 'Vorname', 'c.firstname') }}<i class="fa fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(customers, 'Nachname', 'c.surname') }}<i class="fa fa-sort"></i></th>
                <th>Email</th>
                <th>Telefon Privat</th>
                <th>Telefon Mobile</th>
                <th>Strasse</th>
                <th>Ort</th>
                <th>PLZ</th>
                <th>Start Datum</th>
                <th>End Datum</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.surname }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.telPrivat }}</td>
                    <td>{{ customer.telMobile }}</td>
                    <td>{{ customer.street }} {{ customer.streetNr }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.plz }}</td>
                    <td>{{ customer.startDate|date('d-m-Y') }}</td>
                    {% if customer.endDate is not null %}
                        <td>{{ customer.endDate|date('d-m-Y') }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="customers/edit/{{ customer.id }}" ><i class="fa fa-pencil"></i></a></td>
                    <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ customer.id }}" data-target="#deleteCustomerModal"><i class="fa fa-trash red"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(customers) }}
        </div>

        <!-- Delete Customer Modal -->
        {% include 'components/deleteModal.html.twig' with {
            'id': 'deleteCustomerModal',
            'title': 'Kunde entfernen',
            'text': 'Wollen Sie den Kunden entfernen?'
        } %}

        <!-- Create Customer Modal -->
        {% include 'components/createCustomerModal.html.twig' with {
            'title': 'Kunde hinzufügen'
        } %}

    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}