{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% if successMessage is not null and successMessage.type == 'edit' %}
            <div class="success-message">Zahlung {{ successMessage.item.description }} wurde erfolgreich bearbeitet.</div>
        {% endif %}
        <div class="success-message" id="success-message"></div>

        <h1>Zahlungen</h1>

        <div class="table-wrapper">
            <div class="filter-options">
                {% include 'components/triggerModalButton.html.twig' with {
                    'dataTarget': 'addModal',
                    'text': 'Zahlung erstellen'
                } %}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(payments, 'Datum', 'p.date') }}</th>
                    <th>{{ knp_pagination_sortable(payments, 'Beschreibung', 'p.description') }}</th>
                    <th>{{ knp_pagination_sortable(payments, 'Betrag', 'p.amount') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.date|date('d.m.Y') }}</td>
                        <td>{{ payment.description }}</td>
                        <td>{{ payment.amount }}Fr.</td>
                        <td><a href="/payment/edit/{{ payment.id }}"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ payment.id }}" data-target="#deletePaymentModal"><i class="fa fa-trash red"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(payments) }}
            </div>
        </div>

        <!-- Delete Payment Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deletePaymentModal', 'title': 'Zahlung löschen', 'text': 'Wollen Sie diese Zahlung löschen?'} %}

        <!-- Create Payment Modal -->
        {% include 'components/createModal.html.twig' with {'title': 'Zahlung erstellen'} %}

    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}