{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Zahlungen</h1>
        <div class="table-wrapper">

            <div class="filter-options">
                <input class="form-control" id="searchField" type="search" placeholder="Suchen..." />
                {% include 'components/triggerModalButton.html.twig' with {
                    'dataTarget': 'addModal',
                    'text': 'Zahlung erstellen'
                } %}
            </div>

            <table class="table table-striped" id="searchTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.date|date('d.m.Y') }}</td>
                        <td>{{ payment.description }}</td>
                        <td>{{ payment.amount }}Fr.</td>
                        <td><a href="/payment/edit/{{ payment.id }}"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" class="deleteLink" data-toggle="modal" data-id="{{ payment.id }}" data-target="#deletePaymentModal"><i class="fa fa-trash red"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'components/pagination.html.twig' with {
                'route': 'payment_page',
                'parameters': {},
                'page': page,
                'pages': pages
            } %}
        </div>

        <!-- Delete Payment Modal -->
        {% include 'components/deleteModal.html.twig' with {'id': 'deletePaymentModal', 'title': 'Zahlung löschen', 'text': 'Wollen Sie diese Zahlung löschen?'} %}

        <!-- Create Payment Modal -->
        {% include 'components/createModal.html.twig' with {'title': 'Zahlung erstellen'} %}

    </div>
{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('build/table.js') }}" async defer></script>
{% endblock %}