{% trans_default_domain 'FOSUserBundle' %}

<div class="background">
    <div class="box-center">
        <h1>Registrieren</h1>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="form-group">
                <label class="control-label required" for="fos_user_registration_form_firstname">Vorname</label>
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_help(form.firstname) }}
            </div>

            <div class="form-group">
                <label class="control-label required" for="fos_user_registration_form_lastname">Nachname</label>
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {{ form_help(form.lastname) }}
            </div>

            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
        <div>
            <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

        <hr />

        <div class="login-link">
            <a href="/login">Du hast bereits ein Konto? Anmelden</a>
        </div>
    </div>
</div>
