<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Quittung - tibetischesyoga.ch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
    body {
        height: 1210px;
    }

    .receipt {
        font-family: "Helvetica", sans-serif;
        font-size: 18px;
        position: relative;
        height: 100%;
    }

    hr {
        background: darkgray;
    }

    header {
        padding-top: 50px;
    }

    header img {
        position: absolute;
        top: 50px;
        right: 0;
        width: 350px;
    }

    header hr {
        margin: 30px 0;
    }

    main .date {
        float: right;
    }

    main h1 {
        margin-top: 100px;
        font-size: 30px;
    }

    main h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 80px 0 20px 0;
    }

    main .signing {
        margin: 140px 0 100px 0;
    }

    main .abo p {
        margin: 15px 0;
    }

    main .extra {
        margin-top: 50px;
        font-style: italic;
        font-size: 16px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: darkgray;
    }
    </style>
</head>
<body>
    <div class="receipt">
        <header>
            <p>
                <strong>{{ user }}</strong><br />
                Zertifizierter Lehrer für Lu Jong<br />
                Tibetisches Heilyoga<br /><br />
                <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"/></svg>
                079 542 24 93<br />
                www.tibetischesyoga.ch
            </p>
            <img src="http://www.darioaubry.ch/build/images/logo.png" alt="Lu Jong Tibetisches Yoga Logo">
            <hr />
        </header>
        <main>
            <p class="date">Jonschwil, {{ 'now'|date('d.m.Y') }}</p>
            <h1>Quittung / Bestätigung für Krankenkasse</h1>
            <div class="abo">
                <h2>Abonnement:</h2>
                <p>{{ bill.name }} CHF {{ bill.price }}.-</p>
                <p>Gültig vom {{ bill.date|date('d.m.Y') }} bis {{ bill.enddate|date('d.m.Y') }}</p>
            </div>
            <div class="address">
                <h2>Ausgestellt für:</h2>
                <p>
                    {{ bill.firstname }} {{ bill.surname }}<br />
                    {{ bill.street }} {{ bill.streetnr }}<br />
                    {{ bill.plz }} {{ bill.city }}<br />
                </p>
            </div>
            <p class="signing">Betrag dankend erhalten,</p>
            <p>{{ user }}</p>
            {% if bill.extra %}
                <div class="extra">{{ bill.extra }}</div>
            {% endif %}
        </main>
        <footer>
            <hr />
            <p>Kaivalya Yoga, Unterdorfstrasse 3, 9243 Jonschwil & Obere Bahnhofstrasse 49 / Centralhof, 9500 Wil</p>
        </footer>
    </div>
</body>
</html>
